{% extends "HBHyperbricoBundle::layoutConseil.html.twig" %}
 
{% block titre %}
  {{ parent() }} - Conseils 
{% endblock %}
 
{% block contenu %}
<p>Des conseils....</p>
{% endblock %}

{% block active %}
  <li class="active">Conseils</li>
{% endblock %}