
<form method="post" {{ form_enctype(form) }} {% if lien is defined %} action="{{ path(lien) }}" {% endif %} class="form-horizontal">
{% if caption is defined %}
	<caption> {{ caption }} </caption>
{% endif %}
{{ form_widget(form) }}
<input type="submit" class="tryitbtn" />
</form>
