{% extends "HBHyperbricoBundle::layoutAdmin.html.twig" %}

{% block chemin %}

 {{ parent() }} {% block active %}<li><a href="{{ path('hb_hyperbrico_admin' ~ type|capitalize) }}">{{ type|capitalize }}s</a> <span class="divider">/</span></li>{% endblock %}

{% endblock %}