{% extends "::layout.html.twig" %}

{% block chemin %}

 {{ parent() }} {% block active %}<li><a href="{{ path('hb_hyperbrico_contact') }}">Contact</a> <span class="divider">/</span></li>{% endblock %}

{% endblock %}

{% block soustitre %}
	<h1>Nous contacter</h1>
{% endblock %}

{% block contactActive %}
	class="active"
{% endblock %}