{% extends "HBHyperbricoBundle::layoutQuiSommesNous.html.twig" %}
 
{% block titre %}
  {{ parent() }} - Qui sommes-nous ? 
{% endblock %}

{% block activeAdmin %}
  <li class="active">Qui sommes-nous ? </li>
{% endblock %}
 
{% block contenu %}
	<p>Présent depuis de nombreuses années en Polynésie, la société HYPER BRICO occupe le secteur d’activité de la GSB, c'est-à-dire des Grandes Surfaces de Bricolage.</p>
	<p>Notre expérience et notre savoir-faire nous ont permis de développer des gammes de produits issues du jardinage, de l’outillage, de la décoration, du sanitaire, de la quincaillerie et du bois.</p>
	<p>La société a connu de nombreux agrandissements pour devenir à ce jour, une enseigne incontournable sur ce type de marché.</p>
	<p>Ouvert en journée continue du lundi au samedi, ainsi que les jours fériés, nos magasins permettent à chacun de trouver les produits nécessaires à la réalisation de ses travaux.</p>
	<p>Magasins de libre-service, mais disposant d’une équipe de vendeurs prêts à vous conseiller et vous servir, nous disposons également d’un service après-vente et d’un service livraisons pour Tahiti et ses îles.</p>
	<p>A noter qu’en 2011, un second magasin fut ouvert au niveau de la zone industrielle de la Punaruu à Punaauia.</p>

{% endblock %}